body{
    font-family: 'Roboto', sans-serif;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

/* #region Header */

/* .header-studio {} */

/* .header-studio-nav {} */


.nav-logo,
.footer-studio-logo,
.footer-portfolio-logo {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.header-second-logo {
    color: var(--NAVY-BLUE, #2E2F42);
}

/* .nav-list {} */

/* .nav-list-item {} */

.nav-item-link {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.nav-item-link:hover,
.nav-item-link:focus {
    color: var(--OCEAN, #404BBF);
}

/* .header-studio-address {} */

/* .address-list {} */

/* .adress-list-item {} */

.address-item-link {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.address-item-link:hover,
.address-item-link:focus {
    color: var(--OCEAN, #404BBF);
}

/* #endregion */

/* #region Hero */
.hero {
    background: var(--NAVY-BLUE, #2E2F42);
}

.hero-title {
    color: var(--WHITE, #FFF);

    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.btn {
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

.hero-btn {
    width: 169px;
    height: 56px;
    border-radius: 4px;
    color: var(--WHITE, #FFF);
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {

    border-radius: 4px;
    background: var(--OCEAN, #404BBF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* #endregion */

/* #region Feature */

/* .features {} */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* .fratures-list {} */

/* .features-list-item {} */

.features-item-title {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.features-item-text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
/* #endregion */

/* #region Products */
/* .products {} */

.products-title {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

/* .products-list {} */

/* .products-list-item {} */

/* .products-item-img {} */
/* #endregion Products */

/* #region Team */
.team {
    background: var(--CLOUD, #F4F4FD);  
}

.team-title {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

/* .team-list {} */

.team-list-item {
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* .team-item-img {} */

.team-item-title {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.team-item-text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
/* #endregion Team */

/* #region Studio Footer */
.footer-studio,
.footer-portfolio{
    background: var(--NAVY-BLUE, #2E2F42);
}

.logo-footer {
    color: var(--CLOUD, #F4F4FD);;
}

.footer-stidio-text,
.footer-portfolio-text {
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;}

/* #endregion Studio Footer */



/* Portfolio */

/* #region Header */
/* .header-portfolio {} */

/* .header-portfolio-nav {} */

/* .header-portfolio-address {} */

/* #endregion Header */

/* #region Projects Portfolio */
/* .main-portfolio {} */

/* .main-projects {} */

/* .projects-filter-list {} */

/* .filter-list-item {} */

.filter-item-btn {
    color: var(--IRIS, #4D5AE5);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;

    border-radius: 4px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--CLOUD, #F4F4FD);
}

.filter-item-btn:hover,
.filter-item-btn:focus {
    color: var(--WHITE, #FFF);

    border-radius: 4px;
    background: var(--OCEAN, #404BBF);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

/* .projects-list {} */

/* .projects-list-item {} */

/* .projects-item-img {} */

.projects-item-title {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.projects-item-text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
/* #endregion Project Portfolio */

/* #region Portfolio Footer */
.footer-second-logo {
    color: var(--CLOUD, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
/* #endregion Portfolio Footer */