/* --------index.html styles--------- */

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}

/* -----HEADER------------ */

/* .header-index {
}*/
/* .header-navigation {
}  */

.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  line-height: 1.33;
}

/* .header-logo-second_word {
} */

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/* .header-list {
}*/
/* .header-item {
}  */

.header-link,
.main-projects-subtitle {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-link {
  font-size: 16px;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

/* .header-address-list {
}*/
/* .header-mail {
}  */

.header-mail-link,
.header-phone-link,
.main-project-desc,
.priorites-desc,
.team-job {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* .header-phone {
}*/
/* .header-mail-link{
} */
/* .header-phone-link{
}  */

.header-mail-link:hover,
.header-phone-link:hover,
.header-mail-link:focus,
.header-phone-link:focus {
  color: #404bbf;
}

/* -----------HERO------------ */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* ---SECTION 2 index.html */

/* .main-index{
}*/
/* .main-priorities {
} */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* .priorities-list {
} */
/* .priorities-item {
}  */

.priorities-subtitle,
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* .priorites-desc {
} */

/* ---SECTION 3 index.html */

/* .main-results {
} */

.results-title,
.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* .results-title{
} */
/* .results-list {
}*/
/* .results-item {
} */
/* .results-image{
}  */

/* ---SECTION 4 index.html */
.main-team {
  background-color: #f4f4fd;
}
/* .team-title {
} */
/* .team-list {
} */

.team-item {
  background-color: #ffffff;
}

/* .team-image {
} */
/* .team-name {
} */
/* .team-job {
} */

/* -------------FOOTER------------- */

.footer-index,
.footer-portfolio {
  background-color: #2e2f42;
}
.footer-logo {
  line-height: 1.17;
}

.footer-logo-second_word {
  color: #f4f4fd;
}

.footer-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/*--------- Portfolio's styles *-------------/

/* ----SECTION WITH BUTTONS---------- */
/* .header-portfolio{
} */
/* .main-portfolio {
}*/
/* .main-portfolio-navigation {
} */
/* .main-portfolio-list {
} */
/* .main-portfolio-item {
}  */

.main-portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;

  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.main-portfolio-btn:hover,
.main-portfolio-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/* -----SECTION WITH PROJECTS */
/* .main-projects {
}*/
/* .main-projects-list {
} */
/* .main-project-item {
} */
/* .main-projects-image {
}  */

.main-projects-subtitle {
  font-size: 20px;
}

/* .main-project-desc {
} */
